.title {
    padding-left: 2rem;
    font-weight: 800;
    font-size: 2.8rem;
    display: flex;
    line-height: 1em;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.drag-target{
  width:7vw;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

i.left {
    float: left;
    margin-right: .3em;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.noOverflow{
  overflow:hidden;
}

.side-nav li {
    padding: 0;
  
}

.side-nav li a{
    padding-left:1.8rem;
}

.side-nav a{
  color:white;
  font-size: 1.3rem;
  padding:0;
}

nav ul a:hover{
    background-color: #F50057;
}

footer.page-footer {
  padding: 2vh 0 30vh;
  margin-top: 0;  
}

.letters{
  width:150px;
  display:none;
}

.wheelDiv{
    max-height: 55vh;
    max-width: 100vw;    
    padding-top: 2vh;
}

#wheel  {
    width: 250vw;
    max-height: 150vh;
    margin-left: -75vw;
    -webkit-transition: -webkit-transform 0.5s linear;
    -moz-transition: -moz-transform 0.5s linear;
    -opera-transition: -opera-transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
    object-fit:contain;
}


#display {
    text-align: center;
}

#display div.word {
    display: inline-flex;

}
#display div.wordLetter {
    width: 1.2em;
    height: 1.3em;
    margin: .2vw;
    border: .2rem solid #777777;
    line-height: 1.4em;
    font-size: 7vmin;
    font-weight: 500;
    color: #EFEFEF;
    box-sizing: initial;
}

#display div.wordLetter.letter {
    border-color: #eee;
}


